@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap");

@media screen and (max-width: 1050px) {
  * {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}
