@media screen and (max-width: 600px) {
  .mobileMenu {
    display: block;
  }
}
@media screen and (max-width: 820px) {
  .searchBox {
    display: none !important;
  }
  .categoryBar {
    display: none !important;
  }
}
@media screen and (min-width: 900px) {
  .headerBox {
    text-align: center;
    margin-left: 1rem;
    padding: 2rem !important;
  }
}

/* @media screen and (max-width: 1130px) {
  .categoryBar {
    display: none !important;
  }
} */

.navBar {
  background-color: #ffffff;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  height: 6rem;
}

/* Header Icon */
.headerBox {
  text-align: center;
  margin-left: 1rem;
  padding: 0.7rem;
}
.headerText {
  text-decoration: none;
  font-size: 1.8rem !important;
  font-family: "Bitter", serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ff6000;
}

/* Search Box  */
.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;

  height: 3rem;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 5px;
  overflow: hidden;
}

.searchIcon {
  margin: auto;

  font-size: 1em !important;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  color: rgba(128, 128, 128, 0.479);
}

.searchInput-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  margin: auto;
  padding: 5px;

  height: 42px;
  min-width: 26vw;

  font-size: 0.78rem;
  font-weight: 700;
  color: rgba(32, 32, 32, 0.719);

  outline: none;
  border: none;
}
.searchInput::placeholder {
  font-weight: 700;
  font-size: 0.78rem;

  color: rgba(128, 128, 128, 0.479);
}
.searchButton {
  width: 5em;

  font-size: 0.9rem;
  background-color: rgb(143, 143, 143);
  color: white;

  border: 2px solid rgb(143, 143, 143);
  outline: none;
}
.searchButton:hover {
  cursor: pointer;
}

/* User Side */
.userSide {
  display: flex;
}
.userBox {
  margin: auto 8px;
  height: 3rem;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 5px;
}

/* User Box */
.accountBox {
  width: 10rem;

  background-color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  align-items: center;

  color: gray;
}

.userSide-AccountIcon {
  font-size: 1.4em;
}
.userSide-Account {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}
.myAccount-account {
  color: rgb(56, 55, 55);
  font-size: 1.19em;
}
.myAccount-account-name {
  color: rgba(73, 73, 73, 0.795);
  font-size: 0.85em;
}

.userSide-DropdownIcon {
  font-size: 1.2rem;
}
/* User Box -> Account Box */
.userSideAccountBox {
  display: flex;
  position: absolute;
  top: 6rem;
  width: 12rem;
  height: 11rem;
  border-radius: 5px;
  border: 2px solid rgb(143, 143, 143);
  background-color: rgba(255, 255, 255, 0.986);
  animation: accountBoxAnim 0.3s;
}

@keyframes accountBoxAnim {
  0% {
    top: 5.5rem;
    opacity: 0.4;
    height: 10rem;
  }

  100% {
    top: 6rem;
    opacity: 5;
    height: 11rem;
  }
}

.userSideAccountBox ul {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 80%;
  height: 90%;

  background-color: white;
  list-style: none;
  text-align: left;
}
.userSideAccountBox ul li {
  margin: 2px 9px;
  font-size: 0.9rem;
}
.userSideAccountBox ul li a {
  text-align: center;
  text-decoration: none;
  padding: 0.2rem 0.6rem;
  color: rgb(92, 92, 92);
}

/* Cart Box */
.cartBox {
  width: 9rem;
  cursor: pointer;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;

  background-color: rgb(143, 143, 143);
}
.cartBox-CartIcon {
  font-size: 1.4rem;
}
.cartBox-CountContainer {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;

  border-radius: 100%;
  border: 1px solid gray;
  top: 2px;
  left: 2rem;
}
.cartBox-CartCount {
  margin: auto;
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.87);
}

.cartBox-MyCart {
  font-size: 0.9rem;
}

/* ColorfulLine */
.colorfulLine-container {
  display: flex;
  width: 100%;
  height: 8px;
  background-color: gray;
}
.colorful {
  height: 8px;
}
.colorful-purple {
  width: 11%;
  background-color: #7622da;
}

.colorful-blue {
  width: 18%;
  background-color: #47c6eb;
}

.colorful-orange {
  width: 31%;
  background-color: #ed5f1f;
}

.colorful-lightOrange {
  width: 15%;
  background-color: #f59f28;
}

.colorful-darkPurple {
  width: 13%;
  background-color: #6b1e5b;
}

.colorful-turquoise {
  width: 12%;
  background-color: #45b794;
}

/* Category Bar For Desktop */
.categoryBar {
  font-size: 1rem;
  border-width: 2px;
  width: 100%;
  margin: auto;
  min-height: 3.5rem;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 8px rgba(218, 81, 18, 0.397);
}

.categories-container {
  margin: auto;
  width: 90%;
}

.categories-container ul {
  margin: auto;

  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.categories-container ul li {
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  margin: 0px auto;
  transition: border-bottom 0.5s, background-color 0.3s ease;
}
.categories-container ul li:hover {
  border-bottom: 1px solid black;
  background-color: #ffffff !important;
}

.categories-container ul li p {
  color: rgb(71, 71, 71);
  padding: 1.2rem 1.2vw;
}
