* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}


#main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  padding: 5rem 2rem;
}

#textarea {
  border: 2px solid white;
  border-radius: 8px;
  padding: 0rem .5rem;
  outline: none;
  transition: box-shadow .2s;
}

#textarea:focus {
  box-shadow: 0 0 10px #719ECE;

}

/*  TRANSTLATE NAVIGATOR */
#tr-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#selectCountry {
  color: rgb(0, 0, 0);
  margin: 5px 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

#c-image {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 3px solid black;
  border-radius: 100%;
  overflow: hidden;
}

#country-img {
  height: 100%;
  margin: auto auto;
}

#tr-button {
  padding: 1rem 2rem;
}

/* RESULT TEXT */

#result {
  border: 2px solid rgba(0, 0, 0, 0.425);
  border-radius: 8px;
  margin-top: 1px;
  background-color: white;
  min-width: 50vw;
  min-height: 8rem;
  padding: 2rem 2rem;
}